body {
  background-color: #0D1B2A;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  text-align: center;
}

 h2 {
  color: #FFC107;
}

a {
  color: #FFC107;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 70%;
 margin: auto;
  background-color: #112240;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.chart-container {
  background-color: #1B2A41;
  padding: 15px;
  border-radius: 10px;
  
}

select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #FFC107;
  color: #0D1B2A;
  font-weight: bold;
}

#feedbackChart {
  width: 100%;
  height: 400px;
}

.logo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin-bottom: 10px;
  margin: auto;
  justify-content: center;
}


.menu-links a {
  color: #ffcc00;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit; /* Herdando a mesma fonte do botão */
  padding: 12px 15px;
  border: 2px solid #ffcc00;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  display: flex;

   
}

.menu-links {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente */
  gap: 35px;
  justify-content: center;
}


.menu-links a:hover {
  background: #ff9900;
  color: #0f222d;
  transform: scale(1.1);
}
#hr {
    border: none;
    height: 3px;
    background: linear-gradient(to right, transparent, #ffcc00, #ff9900, transparent);
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}