h2 {
    font-family: 'Snell Roundhand', cursive;
    font-size: 3.5rem;
    font-weight: bold;
    background: linear-gradient(45deg, #ffcc00, #ff9900);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
}
.locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

/* Estilo para o contêiner do mapa */
#map {
    height: 450px; /* Aumentei a altura para melhorar a visibilidade */
    width: 80%;    /* Largura reduzida para ficar mais centrado e visualmente agradável */
    max-width: 1200px;
    border: 5px solid #ff9900; /* Borda mais destacada ao redor do mapa */
    border-radius: 15px; /* Cantos arredondados para um visual mais suave */
    box-shadow: 0 4px 12px #ffcc00; /* Sombra suave para destacar o mapa */
}

/* Estilo para o popup do marcador */
.leaflet-popup-content-wrapper {
    background-color: #235a3c;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
}

.leaflet-popup-tip-container {
    display: none; /* Esconde a seta de dica do popup */
}

.leaflet-popup-content {
    text-align: center;
    padding: 10px 15px;
}

/* Responsividade */
@media (max-width: 768px) {
    #map {
        width: 95%; /* Expande a largura em telas menores */
    }

    h2 {
        font-size: 24px;
    }
}